<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html><head>
<title>delivered - fxw.io</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<style>
  body { margin:0px;  padding:0px;  color:#333; font-family: Helvetica Neue,Helvetica, Arial, Lucida Grande, sans-serif;}
  h1, h2, h3, h4, h5, h6 { font-family: Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;}
  .fxwLinkTicket{color: #17a688 !important;}
  .fxwLink{background-color: #17a688 !important;color: #fff !important;text-decoration: none;padding: 10px 20px;border-radius: 8px;}
  .fxwLinkDetails{background-color: #fff !important;color: #5e5e5e !important;text-decoration: none;padding: 10px 20px;border-radius: 8px;font-weight:bold;border: 1px solid #e5e5e5;}
  .cTicket{color: #00b39b;border: 0px; text-decoration: none;}
  .gotoApp{color: #00b39b;border: 0px; text-decoration: none;font-size: 16px;}
  p {font-size: 16px;color:#333;line-height:1.6em;margin:0px;text-align: center;}
  p.ticketInfo{padding-bottom: 5px;}
  p.please{padding-top: 20px;}
  p.projectInfo{padding-bottom: 0px;}
  .footer-text p a{ border: 0px; color: #aaa;}
   @media only screen and (max-width: 600px) {
     table {width:100%!important;padding:0px 10px;}
   }
</style>
</head>
<body text="#333" bgcolor="#f9f9f9">
<!--PADDING AREA-->
<table style="width:100%;height:50px;" bgcolor="#f9f9f9" align="center" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td>
			<table style="width:610px;margin:0px auto;" align="center" border="0" cellpadding="0" cellspacing="0">
				<tr><td align="center"></td></tr>
			</table>
		</td>
	</tr>
</table>

<!--CONTENT AREA-->
<table style="width:100%;" bgcolor="#f9f9f9" align="center" valgin="top" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td>
      <!--HEADER LOGO AREA-->
      <table  style="width: 100%;text-align:center;padding: 0px;" align="center" border="0" cellpadding="0" cellspacing="0">
      	<tr>
      		<td>
      			<table style="width:610px;padding: 0px 0px;" align="center" border="0" cellpadding="0" cellspacing="0">
      				<tr>
                <td background="http://img.fxw.io/email/bg-border-top-left-radius.png" style="width:85px;"></td>
      					<td background="http://img.fxw.io/email/bg-top-white.png">
      						<a href="http://app.fxw.io/"  target="_blank" style="border: 0px;padding:0px"><img src="http://img.fxw.io/email/flexwork-logo.png" alt="fxw.io" title="fxw.io" width="75" height="67" /></a>
      					</td>
                <td background="http://img.fxw.io/email/bg-border-top-right-radius.png" style="width:85px;"></td>
      				</tr>
      			</table>
      		</td>
      	</tr>
      </table>
    </td>
  </tr>

	<tr>
		<td>
			<table bgcolor="#fff" style="width:610px;margin:auto;" align="center" valgin="top" border="0" cellpadding="0" cellspacing="0">
				<tr>
					<td>
						<table bgcolor="#fff" style="width:550px;padding:10px 0px;margin:auto;" align="center" valgin="top" border="0" cellpadding="0" cellspacing="0">
							<tr>
								<td>

									<!--START-->
									<table style="width:100%;">
											<!--HEADER-->
											<tr>
												<td colspan="2">
													<table style="width:100%;height:50px;text-align:center;">
                            <tr>
															<td colspan="2">
																<h2 style="margin-bottom: 5px;margin-top: 0px;">Hey {{client.name}}</h2>
                                <p class="projectInfo">your project <b>{{ticket.project.name}}</b> is in progress.</p>
															</td>
														</tr>
													</table>
												</td>
											</tr>

											<!--MIDDLE CONTENT-->
											<tr>
												<td colspan="2"  valign="top" style="line-height:1.8em;font-size:16px;text-align:center;">
														<table width="100%">
                              <tr>
                                <td height="50">
                                  <div style="display: inline-block;color: #bababa;font-size: 12px;background-color: #fff;padding: 0px 10px;border-radius: 5px;border: 1px solid #ffffff;font-family: Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;font-weight: regular;"><img src="http://img.fxw.io/email/status-check_2x.png" alt="&#10004;" title="&#10004;" width="16" height="12" /> draft</div>
                                  <div style="display: inline-block;color: #bababa;font-size: 12px;background-color: #fff;padding: 0px 10px;border-radius: 5px;border: 1px solid #ffffff;font-family: Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;font-weight: regular;"><img src="http://img.fxw.io/email/status-check_2x.png" alt="&#10004;" title="&#10004;" width="16" height="12" /> estimation</div>
                                  <div style="display: inline-block;color: #bababa;font-size: 12px;background-color: #fff;padding: 0px 10px;border-radius: 5px;border: 1px solid #ffffff;font-family: Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;font-weight: regular;"><img src="http://img.fxw.io/email/status-check_2x.png" alt="&#10004;" title="&#10004;" width="16" height="12" /> production</div>
                                  <div style="display: inline-block;color: #bababa;font-size: 12px;background-color: #fff;padding: 0px 10px;border-radius: 5px;border: 1px solid #ffffff;font-family: Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;font-weight: regular;"><img src="http://img.fxw.io/email/status-check_2x.png" alt="&#10004;" title="&#10004;" width="16" height="12" /> QA</div>
                                  <div style="display: inline-block;color: #00b39b;font-size: 12px;background-color: #fff;padding: 0px 20px;border-radius: 5px;border: 1px solid #00b39b;font-family: Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;font-weight: regular;">delivered</div>
                                  <div style="display: inline-block;color: #bababa;font-size: 12px;background-color: #fff;padding: 0px 10px;border-radius: 5px;border: 1px solid #ffffff;font-family: Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;font-weight: regular;">done</div>
                                </td>
                              </tr>
														</table>
												</td>
											</tr>

                      <tr>
                        <td colspan="2" valign="top" style="padding: 20px 0px;line-height:1.8em;font-size:16px;text-align:center;background-color: #fff7f7;border-top: 2px solid #ffe6e6;border-bottom: 2px solid #ffe6e6;">
                            <table width="100%">
                              <tr>
                                <td>
                                  <p class="ticketInfo">your ticket</p>
                                  <p style="font-size: 12px;color: #999;">#{{ticket.diplayId}}</p>
                                  <p class="ticketInfo"><a href="http://app.fxw.io" target="_blank" class="fxwLinkTicket">{{ticket.title}}</a></p>
                                  <p class="ticketInfo">is <b>delivered</b> with EST <b>{{ticket.estimation}}h</b> / RT <b>{{ticket.realtime}}h</b></p>
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  <span>please</span>
                                </td>
                              </tr>
                              <tr>
                                <td style="height:50px;">
                                  <p><a href="{{link}}" target="_blank" class="fxwLink">accept now <img src="http://img.fxw.io/email/arrow-right_2x.png" width="12" height="12" alt="&#187;" title="&#187;"></a></p>
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  <span style="font-size: 12px;color:#999;">*after 5 working days it will be accepted automatically</span>
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  <span>or</span>
                                </td>
                              </tr>
                              <tr>
                                <td style="height:25px;">
                                  <p><a href="http://app.fxw.io" target="_blank" class="gotoApp">see details <img src="http://img.fxw.io/email/arrow-xs-right_2x.png" width="8" height="8" alt="&#187;" title="&#187;"></a></p>
                                </td>
                              </tr>
                            </table>
                        </td>
                      </tr>

                      <tr>
                        <td colspan="2" style="height:20px;" colspan="2"></td>
                      </tr>

                      <tr>
                        <td width="50%" align="left">
                          <div style="color: #aaa;font-size: 12px;margin-bottom: 15px;">{{date}}</div>
                        </td>
                        <td width="50%" align="right">
                          <div style="color: #aaaaaa;font-size: 12px;margin-bottom: 15px;"><a href="flexwork.io" class="cTicket" style="color: #00b39b;border: 0px; text-decoration: none;">+ create new ticket</a></div>
                        </td>
                      </tr>

											<tr>
												<td colspan="2" style="height:20px;" colspan="2"></td>
											</tr>

									</table>
									<!--END-->
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>

  <tr>
    <td>
      <!--HEADER LOGO AREA-->
      <table  style="width: 100%;text-align:center;padding: 0px;" align="center" border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td>
            <table style="width:610px;padding: 0px 0px;" align="center" border="0" cellpadding="0" cellspacing="0">
              <tr>
                <td background="http://img.fxw.io/email/bg-border-bottom-left-radius.png" style="width:85px;"></td>
                <td background="http://img.fxw.io/email/bg-bottom-white.png">
                  <a href="http://app.fxw.io/" target="_blank" style="border:0px;padding:0px;"><img src="http://img.fxw.io/email/flexwork-bb-8.png" alt="BB-8" title="BB-8" width="69" height="92" /></a>
                </td>
                <td background="http://img.fxw.io/email/bg-border-bottom-right-radius.png" style="width:85px;"></td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>

<!--FOOTER AREA-->
<table style="width:100%;" bgcolor="#f9f9f9" align="center" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td>
				<table style="width:610px;padding: 25px 20px 80px 20px;margin:0px auto;" align="center" valign="top" border="0" cellpadding="0" cellspacing="0">
          <tr align="left" valign="top">

            <td class="footer-text" align="center" valign="top">
              <p style="color: #aaaaaa; font-size: 11px; padding-bottom: 10px;">This message was sent to <b>{{client.name}} {{client.surname}}, {{client.companyname}}</b></p>
              <p style="color: #aaaaaa; font-size: 11px; padding-bottom: 10px;">made by <a href="http://flexwork.io" target="_blank">flexwork.io</a><br/>
                 technology centre  •  emil-figge-strasse 76-80  •  44227 dortmund - germany </p>
            </td>
          </tr>
        </table>
		</td>
	</tr>
</table>

</body>
</html>
